<div id="<%= dom_id review_post %>">
  <p>
    <strong>Title:</strong>
    <%= review_post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review_post.body %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review_post.rating %>
  </p>

</div>
