<h1>Editing review post</h1>

<%= render "form", review_post: @review_post %>

<br>

<div>
  <%= link_to "Show this review post", @review_post %> |
  <%= link_to "Back to review posts", review_posts_path %>
</div>
