<p style="color: green"><%= notice %></p>

<h1>Review posts</h1>

<div id="review_posts">
  <% @review_posts.each do |review_post| %>
    <%= render review_post %>
    <p>
      <%= link_to "Show this review post", review_post %>
    </p>
  <% end %>
</div>

<%= link_to "New review post", new_review_post_path %>
